*.log

# client
client/hmcl.json

client/.minecraft/logs
client/.minecraft/NVIDIA

client/.minecraft/launcher_profiles.json
client/.minecraft/usercache.json
client/.minecraft/usernamecache.json

client/.minecraft/shaderpacks/Continuum 1.3 - (Low-Ultra) Preview 3 RC1.zip.txt

# server
server/logs
server/world

server/banned-ips.json
server/banned-players.json
server/ops.json
server/usercache.json
server/usernamecache.json
server/whitelist.json
